/*
MASONRY
*/

.masonry {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    /* Expérimental non supporté : https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Masonry_Layout*/
    grid-template-rows: masonry;
}

.masonry img {
    max-width: 100%;
    height: auto;
}


/*
SUBGRID
*/

.container {
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem
}

.subcontainer {
    background-color: lightcoral;
    grid-row: 2 span;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: subgrid;
}

.cell-e {
    background-color: orange;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}